.container{
    width: auto;
    height: 150px;
    background-color: rgba(244,219,219, .9);
    border: 3px solid #B3A4A4;
    display: flex;
}

.buttonHome{
    padding: 10px 10px;
    background-color: white;
    border-radius: 8px;
    border: 2.4px solid #B2A4A4;
    margin-right: 100px;
    float: right;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.buttons-section{
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.button{
    padding: 10px 10px;
    border-radius: 8px;
    border: 2.5px solid #B2A4A4;
    margin-right: 50px;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
}

.home-section, .user-section, .help-section{
    position: relative;
    width: 20%;
  }

.circle {
    height: 35px;
    width: 35px;
    background-color: #F4DBDB;
    border-radius: 50%;
    border: 1px solid #B2A4A4;
    display: inline-block;
}

.hide-home-button {
    display: none;
}

.show-home-button {
    display: flex;
}

.logo-section {
    float: left;
    width: 30%;
    height: auto;
}

.options-container {
    position:absolute;
    top: 80%;
    left: 0%;
    display: block;
    background-color: white ;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    padding: 5px;
    width: 150px;
 
  }
  
  .options-container button {
    width: 100%;
    text-align: left;
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .options-container button:hover {
    background-color: #FCBA7F;
  }

  