<div class="container">
    <div class = "logo-section"><img src="../../../assets/images/logo.png" height="100%" width="90%" /></div>
    <div class="buttons-section">

        <div class ="home-section">
            <button class="button" (click)="onHomeButtonClick()" [ngClass]="isHomePage ? 'hide-home-button' : 'show-home-button' ">
                <img src="../../../assets/images/dog-house.png" height="35" width="35"/>&nbsp;Home
            </button>
        </div>

        <div class ="help-section">
            <button class="button">
                <span class="circle">?</span> Help
            </button>
        </div>

        <div class="user-section">
            <div class="button-container">
                <button (click)="showOptions = !showOptions" class="button">
                    <span class="circle">{{firstLetterName}}</span> {{owner.fname}}
                </button>
                <div class="options-container" *ngIf="showOptions">
                  <button>Profile</button>
                  <button (click)="logout()">Log-out</button>
                </div>
              </div>
        </div>
    </div>
</div>