<div class="container" >
<div style= "float: left;"><img src="../../../assets/images/logo.png" height="150" width="350"/></div>
<div class="buttons">
   
    <!--Once db is implement, user should be replaced by user's name and U letter by a variable that represents first letter of user's name-->
    <button class="button">
        <span class="circle">{{initialName}}</span>     {{userName}}
    </button>

    <button class="button">
        <span class="circle">?</span>     Help
    </button>

    <button class="button">
        <img src="../../../assets/images/dog-house.png" height ="30" width="30" />     Home
    </button>
</div>

</div>

