.container{
    width: auto;
    height: 150px;
    background-color: rgba(244,219,219, .9);
    border: 3px solid #B3A4A4;
    display: flex;
}

.buttonHome{
    padding: 10px 10px;
    background-color: white;
    border-radius: 8px;
    border: 2.4px solid #B2A4A4;
    margin-right: 100px;
    float: right;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.buttons-section{
    margin: 0;
    //position: relative;
    width: 100%;
    height: auto;
    //top: 30%;
    //-ms-transform: translateY(-50%);
    //transform: translateY(-50%);
    border: 3px solid red;
    display: flex;
    float: right;
}

.button{
    padding: 10px 10px;
    border-radius: 8px;
    border: 2.5px solid #B2A4A4;
    margin-right: 50px;
    float: right;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.home-section{
    border: 3px solid red;
}
///////////////////////
.user-section, .help-section{
    position: relative;
    border: 3px solid red;
  }
  
  .logout-option {
    display: none;
    position: absolute;
    bottom: -50px;
    left: -20px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 2.5px solid #B2A4A4;
    padding: 10px 20px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
  }
  
  .wrapper:hover .logout-option {
    display: block;
  }
//////////////////////
.circle {
    height: 35px;
    width: 35px;
    background-color: #F4DBDB;
    border-radius: 50%;
    border: 1px solid #B2A4A4;
    display: inline-block;
}

.hide-home-button {
    display: none;
}

.show-home-button {
    display: flex;
}

.logo-section {
    float: left;
    width: 30%;
    height: auto;
    border: 3px solid #B3A4A4;
}
  