<div class="container">
    <app-header></app-header>
    <body>
    <div style="padding: 50px;"></div>
    <div class = "body">
        <h1>Welcome {{userName}}!</h1>
        <div class = "innerBody" >
            <h2>Please, choose one of your pets:</h2>
            <div class = "pets" style="display: internal;">
                <button class="button" *ngFor="let pet of getPetList()" (click)="navigateVaccinePage()">
                    <div style="padding: 30px;">
                        <img [src] = "setAnimalImg(pet.pet_kind)" width=100px height=100px/>
                        <h2>{{pet.pet_name}}</h2>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div style="padding: 50px;"></div>
    </body>
    <!-- <app-footer></app-footer> -->
</div>

