<div class="container">
    <app-header></app-header>
    <body>
    <div style="padding: 50px;"></div>
    <div class = "body">
        <h1>Welcome {{userName}}!</h1>
        <div class = "innerBody" >
            <h2>Please, choose one of your pets:</h2>
            <div class = "pets" style="display: internal;">
            <app-pet [petName]="pet1Name" [petImg]="pet1"></app-pet>
            <app-pet [petName]="pet2Name" [petImg]="pet2"></app-pet>
            <app-pet [petName]="pet2Name" [petImg]="pet2"></app-pet>
            <app-pet [petName]="pet2Name" [petImg]="pet2"></app-pet>
            <app-pet [petName]="pet2Name" [petImg]="pet2"></app-pet>
            <app-pet [petName]="pet2Name" [petImg]="pet2"></app-pet>
            <app-pet [petName]="pet2Name" [petImg]="pet2"></app-pet>
            <app-pet [petName]="pet2Name" [petImg]="pet2"></app-pet>
            <app-pet [petName]="pet2Name" [petImg]="pet2"></app-pet>
            <app-pet [petName]="pet2Name" [petImg]="pet2"></app-pet>
            <app-pet [petName]="pet2Name" [petImg]="pet2"></app-pet>
            <app-pet [petName]="pet2Name" [petImg]="pet2"></app-pet>
            <app-pet [petName]="pet2Name" [petImg]="pet2"></app-pet>
            </div>
        </div>
    </div>
    <div style="padding: 50px;"></div>
    </body>
    <app-footer></app-footer>
</div>

