.navigation-page {
    padding: 20px;
}

.container{
    background-image: url(../../../assets/images/main-bg-image.jpg);
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    height: auto;
    width: auto;
}