.container{
    background-image: url(../../../assets/images/main-bg-image.jpg);
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size: auto;
    height: 100%;
    width: all;
}

.body{
    background-color: white;
    width: 1200px;
    height: 725px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    border-radius: 25px;
    overflow-y: auto;
}

.button {
    background-color: white;
    border: none;
    text-align: center;
    float: left;
  }

p{
      text-align: center;
  }

.wallets{
    overflow-y: auto;
    max-height: 500px;
  }

