<div class="container">
    <div id = "column1">
        <h2>About Us</h2>
        <p>
            PetVax is an application where you can view,<br>
            print and create collections of the vaccination<br>
            records of your pets from partnered vet providers.
        </p>
    </div>
    <div id = "column2">
        <img src="../../../assets/images/ucm-logo.png" width="auto" height="auto"/>
    </div>
    <div id = "column3">
        <h2>Contact Us</h2>
        <p>averi@ucmo.edu<br>
           corey@ucmo.edu<br>
           connor@ucmo.edu<br>
           luis@ucmo.edu<br>
           rishikesh@ucmo.edu</p>
    </div>
</div>
