.container{
    background-color: rgba(244,219,219, .9);
    border: 1px solid #B3A4A4;
    overflow: auto; 
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#column1 {
    width: 25%;
    float: left;
}

#column2 {
    display:inline-block;
    width: 50%;
    text-align: center;
}

#column3 {
    width: 25%;
    float: right; 
}

h2 {
    color: #0074D9; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

p, label{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
