<div class="buttons">
    <button class="button">
        <img [src]="setAnimalImg(pet.speciesID)" class="icon"/>     {{pet.name}}
    </button>
    <button class="button" (click)="navigateVaccinePage()">
        <img src="../../../assets/images/syringe.png" class="icon"/>     Vaccines
    </button>
    <button class="button"  (click)="navigateWalletPage()">
        <img src="../../../assets/images/wallet.png" class="icon"/>     Wallet
    </button>
    <button class="button">
        <img src="../../../assets/images/marker.png" class="icon"/>     Provider
    </button>
</div>