.container {
    background-image: url(../../../assets/images/main-bg-image.jpg);
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size: auto;
    height: 100%;
    width: all;
}

.body {
    background-color: white;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    border-radius: 25px;
    overflow-y: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    border: 5px solid #B2A4A4;
}

.first-section {
    display: flex;
    align-items: center;
    //border: 1px dotted black;
}

    .title-section {
        width: 500px;
    }

        h1 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 500;
            font-size: 50px;
        }

    .edit-button-section {
        width: 800px;
    }

        .editBttn {
            border: 2.5px solid #B2A4A4;
            border-radius: 8px;
            padding: 10px 10px;
            font-size: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: rgba(244,219,219);
        }  
        
        .backBttn {
            background-color: white;
            border: none;
            text-align: right;
        }

.second-section {
    display: flex;
}

    h2 {
        padding-right: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        font-size: 30px;
    }

    p {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        width: 800px;
        border-radius: 8px;
        border: 2.5px solid #B2A4A4;
        padding: 10px;
    }

.third-section{
    padding: 10px;
}

    .table-container {
        height: auto;
        width: auto;
        overflow: auto;
        border-radius: 8px;
        border: 2.5px solid #B2A4A4;
    }

    table {
        width: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    th.mat-sort-header {
        background-color: rgba(244,219,219);
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.fourth-section{
    margin-top: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
}

    .printBttn {
        background-color: white;
        border: none;
    }