<div class="container">
    <app-header></app-header>
    <div style="padding: 20px;"></div>
    <app-navigation></app-navigation>

    <div class="body" *ngIf="!isEdit">

        <div class ="first-section">
            <div class ="title-section"><h1 *ngIf="walletData">{{walletData.name}}</h1></div>
            <div class ="edit-button-section"><button class = "editBttn" (click)="onEdit()">Edit</button></div>
            <div class ="back-button-section">
                <button class = "backBttn" (click)="goToWalletPage()">
                    <img src="../../../assets/images/back.png" height ="90" width="90" />
                </button>
            </div>
        </div>

        <div class ="second-section">
            <h2>Purpose: </h2> 
            <p *ngIf="walletData">{{walletData.purpose}}</p>
        </div>

        <div class = "third-section">
            <section class="table-container mat-elevation-z8" tabindex="0">
                <div #content>
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        
                        <!-- Vaccine Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Vaccine </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        
                        <!-- Provider Column -->
                        <ng-container matColumnDef="provider">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by provider"> Veterinarian </th>
                            <td mat-cell *matCellDef="let element"> {{element.provider}} </td>
                        </ng-container>
                        
                        <!-- Date Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </section>
        </div>
        <div class="fourth-section">

        <!-- Print Button section -->
        <button class="printBttn" (click)="generatePDF()">
            <img src="../../../assets/images/print.png" height ="60" width="60" />
        </button>
        </div>
    
    </div>

    <div *ngIf="isEdit">
        <div class="body" style="display: internal;">

            <h1>Edit Wallet</h1>
        
            <form class="form-container">
        
              <div class="form-field-name">
                <label for="name">Name:</label>
                <input matInput name="newWalletName" [(ngModel)]="newWalletName" required>
              </div>
        
              <div class="form-field-purpose">
                <label for="purpose">Purpose:</label>
                <textarea matInput purpose="newWalletPurpose" name="purpose" rows="3" [(ngModel)]="newWalletPurpose" required></textarea>
              </div>
        
              <h2>Double-click to add/remove...</h2>
        
              <div class="form-field-vaccines">
                <div class="form-field-available-vaccines">
                  <label>All Vaccines</label>
                  <select multiple size="5">
                    <option *ngFor="let vaccine of allVaccines" [value]="vaccine" (dblclick)="addVaccine(vaccine)" >
                      {{ vaccine.name }} at {{ vaccine.provider }} in {{ vaccine.date }}
                    </option>
                  </select>
                </div>
                
                <!--div>
                  <button>Add</button>
                  <button>Remove</button>
                </div-->
                
                <div class="form-field-selected-vaccines">
                  <label>Wallet Vaccines</label>
                  <select multiple size="5">
                    <option *ngFor="let vaccine of selectedVaccines" [value]="vaccine" (dblclick)="removeVaccine(vaccine)">
                      {{ vaccine.name }} at {{ vaccine.provider }} in {{ vaccine.date }}
                    </option>
                  </select>
                </div>
                
              </div>
        
              <div class="form-field-button">
                <button id="cancelBttn" type="cancel" (click)="onCancelEdit()">Cancel</button>
                <button id="submitBttn" type="submit" (click)="onUpdateDetailstoServer()">Update</button>
              </div>
        
            </form>
          
          </div>
    </div>
    <div style="padding: 20px;"></div>
    <app-footer></app-footer>
</div>