<div class="container">
    <app-header></app-header>
    <div style="padding: 20px;"></div>
    <app-navigation></app-navigation>
    <div class="body" style="display: internal;">
        <div class ="bodyFirst" style="display: internal;">
            <h1>WalletName</h1> 
            <button id="editBttn">Edit</button>
        </div>
        <div class ="bodySecond">
            <h2>Purpose: </h2><p></p>
            <p>I don't know if this is wrong, because someone else is telling me that it's wrong. 
            But I feel this so let me just like try my best not to let this happen again. 
            We weren't necessarily put in the best position to make the best decisions.</p>
        </div>
    
    </div>
    <div style="padding: 20px;"></div>
    <app-footer></app-footer>
</div>