<div class="login-page-container">
    <img src="petvax-app/petvax-app/src/assets/images/background-image.jpg" />
    <div class="login-page-title">PetVax Project</div>
    <div class="loginpage-modal-container">
        <div class="loginpage-modal-title"> Login Page </div>
        <div> <input class="loginpage-input" type="text" placeholder="Enter email address" /> </div>
        <div> <input class="loginpage-input" type="password" placeholder="Enter password" /> </div>
        <div> <button class="login-page-submit" type="submit" (click)="navigateHomepage()">Enter to Login</button>
        </div>
    </div>
</div>