<div class="login-page-container">
    <div class="loginpage-header">
      <img src="./../../../assets/images/logo-no-background.png" alt="header-logo" class="loginpage-header-logo" width="318" height="104"/>
    </div>
    <div class="loginpage-modal-container">
        <div class="loginpage-modal-title"> LOGIN </div>
        <div class="loginpage-inputs">
            <div class="loginpage-input-container"> <label class="loginpage-input-label">Username</label><input class="loginpage-input" type="text" [(ngModel)]="username"/> </div>
            <div class="loginpage-input-container"> <label class="loginpage-input-label">Password</label><input class="loginpage-input" type="password" [(ngModel)]="password"/> </div>
        </div>
        <div class="loginpage-submit-container"> <button class="login-page-submit" type="submit" (click)="handleSubmit()">LOGIN</button>
        </div>
    </div>
    <div class="loginpage-footer"></div>
  </div>
